// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$asset-slate: #2C3E4F;
$asset-sky: #3E98D3;
$asset-dusk: #965DA5;
$asset-mistyforest: #2CB89A;
$asset-wenge: #231F20;

body#body-sign-in{
	background-color: $asset-mistyforest;
	color: $asset-wenge;
	h3{
		text-align: center;
	}
	label{
		display: block;
		text-align: center;
		font-size: 18pt;
		margin: 15px 0 5px;
	}
	input{
		height: 65px;
		line-height: 45px;
		font-size: 18pt;
		display: block;
	}
	input[type="submit"]{
		background-color: $asset-wenge;
		display: block;
		margin-top: 25px;
	}
}

body#body-profile{
	#logo-container{
		width: 50%;
		float: left;
		margin: 15px 0 0;
	}
	img{
		width: 50px;
		margin: 0 auto;
		display: block;
		cursor: pointer;
	}
	#search-container{
		width: 25%;
		float: left;
		margin: 15px 0 0;
	}
	h5{
		width: 100%;
		float: left;
		margin: 30px 0 0;
		padding: 5px;
		background-color: $asset-wenge;
		color: white;
		text-align: center;
		clear: both;

	}
	.sign-out{
		width: 25%;
		float: left;
		background: none;
		border: none;
		font-size: 14pt;
		margin: 15px 0 0;
	}
	.container{
		clear: both;
		width: 100% !important;
		max-width: 100%;
		margin-top: 25px;
	}
	input#movie_search{
		float: left;
		width: 100%;
		height: 100px;
		padding: 5%;
		font-size: 24pt;
		position: absolute;
		top: 0;
		left: 0;
		outline: none;
	}
	#movie-display{
		text-align: center;
	}
	#add-to{
		width: 100%;
		background-color: $asset-wenge;
		color: white;
		border: none;
		position: fixed;
		bottom: 0;
		left: 0;
		height: 100px;
	}
	#add-to:hover{
		background-color: green;
		transition: .3s;
	}
	table{
		width: 100%;
	}
	tr{
		height: 50px;
		width: 100%;
		background-color: rgb(200,200,200);
	}
	tr:nth-child(2n){
		background-color: white;
	}
	td{
		background: none;
		outline: none;
		border: none;
		height: 75px;
		line-height: 75px;
		color: $asset-wenge;
		h3{
			padding-left: 15px;
			font-size: 20pt;
		}
		input[type="submit"]{
			background-color: $asset-wenge;
			border: none;
			height: 100%;
			width: 35%;
			float: right;
			margin-right: 15px;
			color: white;
			font-size: 14pt;
			padding: 8px;
			border-radius: 5px;
			outline: none;
		}
		input[type="submit"]:hover{
			background-color: red;
			transition: .3s;
		}
	}
}






